// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$challenge-smartsite-primary: mat.define-palette(mat.$indigo-palette);
$challenge-smartsite-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$challenge-smartsite-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$challenge-smartsite-theme: mat.define-light-theme(
  (
    color: (
      primary: $challenge-smartsite-primary,
      accent: $challenge-smartsite-accent,
      warn: $challenge-smartsite-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($challenge-smartsite-theme);

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  scrollbar-width: none;
  overflow-x: hidden;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Gotham";
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/gotham-light.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/gotham-book.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/gotham-bold.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/gotham-black.woff2") format("truetype");
  font-weight: 900;
  font-style: normal;
}
