.header {
  width: 100vw;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 60px;
  }
}

.body {
  padding: 70px 200px;
  height: 1200px;

  .top {
    .title {
      font-weight: bold;
    }
  }
}

.footer {
  width: 100vw;
  height: 150px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "Gotham", sans-serif;

  img {
    height: 35px;
  }
}
