<div class="center">
  <div class="header">
    <img src="./../../assets/logo.svg" alt="" />
  </div>
  <div class="body">
    <div class="top">
      <h2 class="title">REABERTURA SMART FIT</h2>
      <div class="divider"></div>
      <p class="description">
        O horário de funcionamento das nossas unidades está seguindo os decretos
        de cada município. Por isso, confira aqui se a sua unidade está aberta e
        as medidas de segurança que estamos seguindo.
      </p>
    </div>

    <div class="form">
      <div class="form-icon">
        <img src="../../assets/icon/icon-hour.png" alt="icon" />
        <p>Horário</p>
      </div>
      <h3>Qual período quer treinar?</h3>
      <mat-divider></mat-divider>
      <mat-radio-group
        aria-labelledby="periodo de treino"
        class="form-radio"
        [(ngModel)]="teste"
      >
        <div *ngFor="let periodo of periodos">
          <mat-radio-button
            color="primary"
            class="form-radio-button"
            [value]="periodo.value"
          >
            <p>
              {{ periodo.tipo }}
            </p>
            <p>
              {{ periodo.horario }}
            </p>
          </mat-radio-button>
          <mat-divider></mat-divider>
        </div>
      </mat-radio-group>
      <div class="form-checkbox">
        <p>
          <mat-checkbox color="primary" [(ngModel)]="teste2"
            >Exibir unidades fechadas</mat-checkbox
          >
        </p>
        <p>Resultado encontrados: <b>0</b></p>
      </div>
      <div class="form-buttons">
        <button mat-raised-button color="primary">
          <b>ENCONTRAR UNIDADE</b>
        </button>
        <button mat-raised-button class="limpar"><b>LIMPAR</b></button>
      </div>
    </div>

    <div class="legends">
      <div class="legend">
        <p><b>Máscara</b></p>
        <div class="legend-info">
          <div class="center">
            <img
              src="../../assets/images/required-mask.png"
              alt="required-mask"
            />
            <p>Obrigatório</p>
          </div>
          <div class="center">
            <img
              src="../../assets/images/recommended-mask.png"
              alt="recommended-mask"
            />
            <p>Recomendado</p>
          </div>
        </div>
      </div>
      <div class="legend">
        <p><b>Toalha</b></p>
        <div class="legend-info">
          <div class="center">
            <img
              src="../../assets/images/required-towel.png"
              alt="required-towel"
            />
            <p>Obrigatório</p>
          </div>
          <div class="center">
            <img
              src="../../assets/images/recommended-towel.png"
              alt="recommended-towel"
            />
            <p>Recomendado</p>
          </div>
        </div>
      </div>
      <div class="legend">
        <p><b>Bebedouro</b></p>
        <div class="legend-info">
          <div class="center">
            <img
              src="../../assets/images/partial-fountain.png"
              alt="partial-fountain"
            />
            <p>Parcial</p>
          </div>
          <div class="center">
            <img
              src="../../assets/images/forbidden-fountain.png"
              alt="forbidden-fountain"
            />
            <p>Proibido</p>
          </div>
        </div>
      </div>
      <div class="legend">
        <p><b>Vestiários</b></p>
        <div class="legend-info">
          <div class="center">
            <img
              src="../../assets/images/required-lockerroom.png"
              alt="required-lockerroom"
            />
            <p>Liberado</p>
          </div>
          <div class="center">
            <img
              src="../../assets/images/partial-lockerroom.png"
              alt="partial-lockerroom"
            />
            <p>Parcial</p>
          </div>
          <div class="center">
            <img
              src="../../assets/images/forbidden-lockerroom.png"
              alt="forbidden-lockerroom"
            />
            <p>Fechado</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list"></div>
  <div class="footer">
    <img src="./../../assets/logo.svg" alt="" />
    <p>Todos os direitos reservados - 2020</p>
  </div>
</div>
