@font-face {
  font-family: 'Gotham';
  src: url(../../assets/fonts/gotham-black.woff2) ,
}

@font-face {
  font-family: 'Gotham';
  src: url(../../assets/fonts/gotham-bold.woff2) ,
}

@font-face {
  font-family: 'Gotham';
  src: url(../../assets/fonts/gotham-book.woff2) ,
}

@font-face {
  font-family: 'Gotham';
  src: url(../../assets/fonts/gotham-light.woff2) ,
}




.header {
  width: 100vw;
  height: 60px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 35px;

  }
}

.body {
  width: 100vw;
  height: 500px;
}

.footer {
  width: 100vw;
  height:150px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: 'Gotham', sans-serif;

  img {
    height: 35px;
  }
}
