<div class="header">
  <img src="./../../assets/logo.svg" alt="" />
</div>
<div class="body">
  <div class="top">
    <h2 class="title">REABERTURA SMART FIT</h2>
    <div class="divider"></div>
    <p class="description">
      O horário de funcionamento das nossas unidades está seguindo os decretos
      de cada município. Por isso, confira aqui se a sua unidade está aberta e
      as medidas de segurança que estamos seguindo.
    </p>
  </div>
</div>
<div class="footer">
  <img src="./../../assets/logo.svg" alt="" />
  <p>Todos os direitos reservados - 2020</p>
</div>
