.header {
  width: 100vw;
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 60px;
  }
}

.body {
  padding: 70px 200px;
  height: 1200px;

  .top {
    .title {
      font-weight: bold;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid #808080;
  border-radius: 10px;

  .form-icon {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
      height: 24px;
    }
  }

  .form-radio {
    display: flex;
    flex-direction: column;

    .form-radio-button > .form-radio-space {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .form-checkbox {
  }

  .form-buttons {
  }
}

.footer {
  width: 100vw;
  height: 150px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "Gotham", sans-serif;

  img {
    height: 35px;
  }
}
