<div class="center">
  <div class="header">
    <img src="./../../assets/logo.svg" alt="" />
  </div>
  <div class="body">
    <div class="top">
      <h2 class="title">REABERTURA SMART FIT</h2>
      <div class="divider"></div>
      <p class="description">
        O horário de funcionamento das nossas unidades está seguindo os decretos
        de cada município. Por isso, confira aqui se a sua unidade está aberta e
        as medidas de segurança que estamos seguindo.
      </p>
    </div>

    <div class="form">
      <div class="form-icon">
        <img src="../../assets/icon/icon-hour.png" alt="icon" />
        <p>Horário</p>
      </div>
      <h3>Qual período quer treinar?</h3>
      <mat-divider></mat-divider>
      <mat-radio-group
        aria-labelledby="periodo de treino"
        class="form-radio"
        [(ngModel)]="filtro.periodo"
      >
        <div *ngFor="let periodo of periodos">
          <mat-radio-button
            color="primary"
            class="form-radio-button"
            [value]="periodo.value"
          >
            <p>
              {{ periodo.tipo }}
            </p>
            <p>
              {{ periodo.horario }}
            </p>
          </mat-radio-button>
          <mat-divider></mat-divider>
        </div>
      </mat-radio-group>
      <div class="form-checkbox">
        <p>
          <mat-checkbox color="primary" [(ngModel)]="filtro.exibeFechadas"
            >Exibir unidades fechadas</mat-checkbox
          >
        </p>
        <p>
          Resultado encontrados: <b>{{ locais.length }}</b>
        </p>
      </div>
      <div class="form-buttons">
        <button mat-raised-button color="primary" (click)="buscar()">
          <b>ENCONTRAR UNIDADE</b>
        </button>
        <button mat-raised-button class="limpar" (click)="limparBusca()">
          <b>LIMPAR</b>
        </button>
      </div>
    </div>

    <div class="legends">
      <div class="legend">
        <p><b>Máscara</b></p>
        <div class="legend-info">
          <div class="center">
            <img
              src="../../assets/images/required-mask.png"
              alt="required-mask"
            />
            <p>Obrigatório</p>
          </div>
          <div class="center">
            <img
              src="../../assets/images/recommended-mask.png"
              alt="recommended-mask"
            />
            <p>Recomendado</p>
          </div>
        </div>
      </div>
      <div class="legend">
        <p><b>Toalha</b></p>
        <div class="legend-info">
          <div class="center">
            <img
              src="../../assets/images/required-towel.png"
              alt="required-towel"
            />
            <p>Obrigatório</p>
          </div>
          <div class="center">
            <img
              src="../../assets/images/recommended-towel.png"
              alt="recommended-towel"
            />
            <p>Recomendado</p>
          </div>
        </div>
      </div>
      <div class="legend">
        <p><b>Bebedouro</b></p>
        <div class="legend-info">
          <div class="center">
            <img
              src="../../assets/images/partial-fountain.png"
              alt="partial-fountain"
            />
            <p>Parcial</p>
          </div>
          <div class="center">
            <img
              src="../../assets/images/not_allowed-fountain.png"
              alt="not_allowed-fountain"
            />
            <p>Proibido</p>
          </div>
        </div>
      </div>
      <div class="legend">
        <p><b>Vestiários</b></p>
        <div class="legend-info">
          <div class="center">
            <img
              src="../../assets/images/allowed-lockerroom.png"
              alt="allowed-lockerroom"
            />
            <p>Liberado</p>
          </div>
          <div class="center">
            <img
              src="../../assets/images/partial-lockerroom.png"
              alt="partial-lockerroom"
            />
            <p>Parcial</p>
          </div>
          <div class="center">
            <img
              src="../../assets/images/closed-lockerroom.png"
              alt="closed-lockerroom"
            />
            <p>Fechado</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="list">
    <div class="list-div" *ngFor="let local of locais">
      <p
        class="list-opened"
        [style]="local.opened ? 'color: #2FC022;' : 'color: #dc0a17;'"
      >
        <b>{{ local.opened ? "Aberto" : "Fechado" }}</b>
      </p>
      <h3 class="list-title" [innerHTML]="local.title"></h3>

      <p [innerHTML]="local.content || local.street"></p>

      <mat-divider *ngIf="local.opened"></mat-divider>
      <div class="list-desc" *ngIf="local.opened">
        <img
          *ngIf="local.mask === 'required' || local.mask === 'recommended'"
          [src]="'../../assets/images/' + local.mask + '-mask.png'"
          alt="mask"
        />
        <img
          *ngIf="local.towel === 'required' || local.towel === 'recommended'"
          [src]="'../../assets/images/' + local.towel + '-towel.png'"
          alt="towel"
        />
        <img
          *ngIf="
            local.fountain === 'not_allowed' || local.fountain === 'partial'
          "
          [src]="'../../assets/images/' + local.fountain + '-fountain.png'"
          alt="fountain"
        />
        <img
          *ngIf="
            local.locker_room === 'closed' ||
            local.locker_room === 'partial' ||
            local.locker_room === 'allowed'
          "
          [src]="'../../assets/images/' + local.locker_room + '-lockerroom.png'"
          alt="lockerroom"
        />
      </div>

      <div class="list-horarios" *ngIf="local.opened">
        <div class="list-horarios-div" *ngFor="let horario of local.schedules">
          <h4>{{ horario.weekdays }}</h4>
          <p>{{ horario.hour }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <img src="./../../assets/logo.svg" alt="" />
    <p>Todos os direitos reservados - 2020</p>
  </div>
</div>
